---
import DefaultLayout from "@layouts/defaultLayout.astro";
import ProjectsListLight from "@components/projectsList/projectsListLight.astro";
import Link from "@components/link.astro";
const classList = [
  "opacity-0",
  "animate-slideInUp",
  "animate-fill-both",
  "font-sans",
  "font-medium",
  "mt-8",
];
---

<DefaultLayout title="Donald Shtjefni">
  <article class="prose">
    <section class:list={["animate-delay-50 ", classList]}>
      <p class="font-bold font-serif text-xl">donald shtjefni</p>
    </section>
    <section class:list={["animate-delay-150", classList]}>
      <p>
        Hey there! I'm Donald Shtjefni, a senior frontend developer dedicated to
        enhancing user and developer experiences.
      </p>
      <p>
        When I'm not coding, you might find me mixing up cocktails, finding the
        perfect balance of flavors just as I do in my code.
      </p>
      <p>
        But it's not all about me. I'm a firm believer in the power of open
        source and giving back to the community.
      </p>
    </section>
  </article>
  <section class:list={["animate-delay-300", classList]}>
    <ProjectsListLight />
  </section>
  <section class:list={["animate-delay-600", classList]}>
    <p id="blockTitle">Now</p>
    <p>
      Currently, I am working at <a
        target="_blank"
        href="https://weconstudio.it"
        class="inline font-serif italic decoration-none"
      >
        Weconstudio</a
      >, where I have the opportunity to dive deep into the world of web
      development. I'm particularly passionate about utilizing technologies such
      as Nuxt.js, Vue.js, Vuetify, and Capacitor.js to build robust and visually
      appealing applications
    </p>
  </section>
  <section class:list={["animate-delay-750", classList]}>
    <p id="blockTitle">Contact</p>
    <p>
      You can contact me by <a
        class="decoration-none inline"
        target="_blank"
        href="mailto:dnld.sht@gmail.com">email</a
      > or on <a
        class="decoration-none inline"
        target="_blank"
        href="https://github.com/dnldsht">Github</a
      >. I will be happy to answer you.
    </p>
  </section>
</DefaultLayout>

<style is:global>
  article a {
    @apply defaultLink;
  }
  #blockTitle {
    @apply md:text-base font-extrabold font-serif;
    text-transform: lowercase;
  }
  #blockTitle::before {
    content: ":: ";
  }
</style>
