---
import ThemeToggle from '@components/header/icon/themeToggle.astro'
import Github from '@components/header/icon/github.astro'
import Project from '@components/header/icon/projects.astro'
---
<nav class="h-full flex items-center justify-end w-full pr-5 pl-5 pt-2 pb-2 mt-2">

    <section class="grid grid-flow-col justify-items-stretch gap-6 place-items-center z-40">
      <Project/>
      <Github userName="dnldsht"/>
      <ThemeToggle />
    </section>
</nav>
