<section
  class="absolute border-t defaultBorder flex items-center bottom-0 p-2 w-full text-gray-5 dark:text-grey-5"
>
  <a
    class="text-xs dark:hover:text-white hover:text-black font-sans border-none"
    href="https://www.youtube.com/watch?v=rH9AriEezeI">~ Feed Your Head ~</a
  >
</section>
