<p id="blockTitle">Contact</p>
<p>
  You can contact me by <a
    class="decoration-none inline"
    target="_blank"
    href="mailto:dnld.sht@gmail.com">email</a
  > or on <a
    class="decoration-none inline"
    target="_blank"
    href="https://github.com/dnldsht">Github</a
  >. I will be happy to answer you.
</p>

<style>
  a {
    @apply defaultLink max-w-max;
  }
</style>
