---
import { projects } from "@components/projectsList/_projectList";
import ProjectItem from "@components/projectItem.astro";
const lightProjects = projects.slice(0, 4);
---

<main>
  <a
    href="/projects"
    class="flex items-center gap-2 mb-2 decoration-none border-none cursor-pointer hover:opacity-30 w-32"
  >
    <p id="blockTitle" class="font-serif">Projects</p><div
      class="i-ph-arrow-up-right"
    >
    </div>
  </a>
  <div class="not-prose grid md:grid-cols-2 gap-5">
    {
      lightProjects.map((project) => {
        return <ProjectItem project={project} />;
      })
    }
  </div>
</main>
