---
const { pathname } = Astro.url
const pathName = pathname.replace(/\//g, '')
const jumpTags = [
  {
    tag: 'projects',
    path: '/projects/',
    isActive: pathName === 'projects',
  },
];
---

<main class="flex gap-5">
  {
    jumpTags.map((tag) => {
      return (
        <a
          href={tag.path}
          class:list={[
            'text-xl mt-10 font-serif font-bold animate-delay-150 transition-opacity',
            { 'opacity-10 hover:opacity-50': !tag.isActive },
          ]}
        >
          {tag.tag}
        </a>
      )
    })
  }
</main>
